<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    
    <p>Classes I've taken so far at Columbia:</p>
    University Writing <br>
    Intro to Electrical Engineering <br>
    Multivariable Calculus <br>
    Intensive General Chemistry <br>
    Intro to Mechanics and Thermodynamics <br>
    <br>
    <p>Classes I'm almost done with (will be done on 5/15/20):</p>
    The Art of Engineering <br>
    Intro Java (1004) <br>
    Intro Python (1006) <br>
    Intro to Human-Centered Design <br>
    Mechanics <br>
    Intro to Electricity, Magnetism, & Optics <br>
    <br>
    <p>My favorite class so far has been Intro to Human-Centered Design. The course is a project based tutorial
        on design thinking and using a clear framework to learn about and address the needs of a customer. This 
        course has allowed me to take technical skills from other engineering classes and apply them to solving
        a real problem for real people. Great professor and highly rewarding experience!
    </p>

    </body>
</html>