<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    
    <p>Mohith Mothukuri's Webpage - ENGI 1006 Flask Final Project</p>
    <p>Freshman in SEAS studying Mechanical Engineering</p>
    <img src="profile.png" width = '400'>
    <p></p>
    <a href="/openCV">Exploration of openCV</a>
    <br>
    <a href="/classes">Completed Coursework</a>
    <p></p>
    Link to a fun quarantine game:
    <a href="https://agar.io/">agar.io</a>

    </body>
</html>

